.formGroup {
  margin-bottom: 1rem;
}
.formControl {
  display: inline-block;
  width: 200px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: all 200ms ease;
}
.formControl:focus {
  color: #55595c;
  background-color: #f9f9f9;
  border-color: #999999;
  outline: none;
}
.formControl:hover{
  background-color: #fcfcfc;
}
.formControlInline {
  width: 100%;
}
.inlineWrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.inlineWrapper td {
  vertical-align: middle;
}
.btnAdd {
  padding: 8px 30px;
  background-color: #63A2E9;
  border: 0px;
  color: white;
  border-radius: 2px;
  margin: 0px 15px;
  transition: all 0.2s ease-out;
}
.btnAdd:hover {
  background-color: #5392D9;
}
.item {
  display: inline-block;
  background-color: #eeeeee;
  color: #777;
  padding: 8px 20px;
  margin: 10px;
  border-radius: 2px;
  transition: all 0.2s ease-out;
}
.item:hover {
  background-color: #dddddd;
}
.itemWrapper {
  padding: 10px;
  margin-left: -20px;
}
.btnClose {
  border: 0px;
  background-color: transparent;
  margin-left: 10px;
  margin-right: -10px;
  color: #bbb;
}
.btnClose:after {
  display: inline-block;
  font-weight: bold;
  content: "\00d7"; /* This will render the 'X' */
}
.btnClose:hover {
  color: #000;
}