/* layout.css */
/* ================================================== */
/* PAGE
/* ================================================== */
.pageTitle {
  margin-top: 20px;
  margin-left: 70px;
}

.pageContentNoHeader {
  padding: 0 20px 20px 20px;
  width: calc(100% - 50px);
  margin-left: 50px;
  -webkit-transition: margin-left .2s ease-out;
  transition: margin-left .2s ease-out;
  min-width: 1230px;
}

.pageContent {
  padding: 70px 20px 20px;
  width: calc(100% - 50px);
  margin-left: 50px;
  -webkit-transition: margin-left .2s ease-out;
  transition: margin-left .2s ease-out;
  min-width: 1230px;
  overflow-x: auto;
}
.pageContent.sidebar-open {
  margin-left: 0;
  padding-left: 10px;
  width: calc(70% - 50px);
}

/* ================================================== */
/* CONTAINER
/* ================================================== */
.containerFluid {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.containerFluid:after {
  content: "";
  display: table;
  clear: both;
}

/* ================================================== */
/* Line
/* ================================================== */
.hr {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e0e6ed;
}

/* ================================================== */
/* PANEL
/* ================================================== */
.panel, .panelTransparent {
  background: #fff;
  min-height: 50px;
  border: 1px solid #e0e6ed;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(163, 200, 214, 0.2);
  margin-bottom: 24px;
}
.panel:after {
  content: "";
  display: table;
  clear: both;
}
.panelTransparent {
  background: transparent;
  border: none;
  box-shadow: none;
}
.panelHeader {
  padding: 15px 15px 0;
  color: #8F8F8F;
  font-weight: 400;
}
.panelTransparent .panelHeader {
  color: #484848;
}

.panelLoadingBody {
  padding: 30px 15px 15px 15px;
  text-align: center;
}

.panelBody {
  padding: 15px;
  font-weight: 300;
}
.panelComponentItem {
  cursor: pointer;
}
.panelComponentItem.active {
  border-left: 3px solid #1ba0e2;
}
.panelFooter {
  padding: 0 15px 15px;
}
.panelFooter.alignRight {
  text-align: right;
}

/* ================================================== */
/* Group
/* ================================================== */
.horizontalGroup {
  margin-bottom: 0;
  width: 100%;
}
.horizontalGroup .horizontalGroupRow:after {
  content: "";
  display: table;
  clear: both;
}
.horizontalGroup .horizontalGroupRow > * {
  display: block;
  float: left;
  margin: 5px;
}
.horizontalGroup .horizontalGroupRow .noMargin {
  margin: 0;
}

.formGroup {
  margin-bottom: 16px;
  position: relative;
  line-height:normal;
}

.formGroup.formInline {
  display: inline-block;
  margin-bottom: 8px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.relativeContainer {
  position: relative;
}
.fixedContainer {
  position: fixed;
  width: inherit;
}

.twoLayerTitle {
  position: relative;
  display: block;
  font-weight: bold;
  top: 6px;
}
.twoLayerTitle b {
  position: absolute;
  font-size: 12px;
  top: -15px;
  color: #adadad;
  font-weight: normal;
}
/* ================================================== */
/* Well
/* ================================================== */
.well {
  background: #F6F6F6;
  padding: 20px;
  border: 1px solid #e0e6ed;
  border-radius: 0;
  margin: 10px 0;
}

/* ================================================== */
/* Box
/* ================================================== */
.box {
  border: 1px solid #DADADA;
  border-radius: 3px;
  margin-bottom: 16px;
}

.box .boxBody,
.box.boxBody {
  padding: 16px;
}

/* ================================================== */
/* BlockList
/* ================================================== */
.blockList {
  list-style: none;
  margin: 0;
  padding: 0;
}
  .blockList li {
    display: block;
    padding: 10px 15px;
    border: 1px solid #DADADA;
    border-bottom-width: 0;
    position: relative;
  }
  .blockList tr {
    display: table-row;
    border: 1px solid #DADADA;
    border-collapse: separate;
  }
  .blockList td:first-child {
    padding-right: 20px;
  }
  .blockList td {
    padding: 5px;
  }
  .blockList li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .blockList li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-width: 1px;
  }
  .blockList li > a {
    position: absolute;
    right: 10px;
    top: 10px;
  }