.toastContainer {
  position: fixed;
  max-width: 400px;
  right: 5%;
  bottom: 5%;
  z-index: 10;
}
.toast {
  position: relative;
  min-width: 200px;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(20, 20, 20, 0.7);
  color: white;
  transition: all 200ms ease;
  margin-bottom: 10px;
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 300ms;
}
.toast:hover {
  background-color: rgba(20, 20, 20, 1.0);
}
.toastMessage {
}
.toastClose {
  position: relative;
  float: right;
  cursor: pointer;
  margin-left: 15px;
  font-weight: bolder;
  color: #0b97c4;
}

@keyframes fadeIn {
  from {
    opacity: 0.0;
    right: 100px;
  }
  to {
    opacity: 1.0;
    right: 0px;
  }
}

.toast2 {
  position: relative;
  float: right;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(20, 20, 20, 0.7);
  color: white;
  transition: all 200ms ease;
  margin-bottom: 10px;
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 300ms;
}
.toastCloseAll {
  cursor: pointer;
  font-weight: bolder;
  color: #a6e1ec;
}