.panel, .panelTransparent {
  background: #fff;
  min-height: 50px;
  border: 1px solid #e0e6ed;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(163, 200, 214, 0.2);
  margin-bottom: 24px;
}
.panel:after {
  content: "";
  display: table;
  clear: both;
}
.panelBody {
  padding: 15px;
  font-weight: 300;
}
.itemLeft {
  width: 100%;
  float: left;
}
.itemRight {
  width: 100%;
  text-align: right;
  float: right;
}
.actionTable {
  width: 100%;
  table-layout: fixed
}