.pullLeft {
  float: left;
  width: 50%;
  padding: 0 3px;
}
.pullRight {
  float: right;
  width: 50%;
  padding: 0 3px;
}
.box {
  width: 100%;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}
.box:after {
  clear:both;
  display: table;
  content: "";
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.textJustify {
  text-align: justify;
}