.searchInput {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #DADADA;
  background: #fff;
  border-radius: 3px;
  padding: 7px 12px;
  font-weight: 300;
  font-size: 16px;
  height: 36px;
}

.searchInputGroup {
  margin-bottom: 10px;
  width: 300px;
}
.searchInput:focus {
  outline: none !important;
  background-color: #f9f9f9;
}
.block {
  width: 100%;
  position: relative;
}

.suggestionWrapper {
  position: absolute;
  width: 100%;
  border: 1px solid #DCE1E8;
  max-height: 300px;
  overflow-y: scroll;
}
.suggestion {
  border-top: 1px solid #DCE1E8;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  color: #555555;
  cursor: pointer;
  font-size: 0.8rem;
}
.suggestionId {
  color: #999999;
  font-size: 0.6rem;
}
.suggestion:hover, .suggestionActive {
  background-color: #f9f9f9;
}
