/* PageNotifivation.css */
.wrapper {
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 50%;
  display: inline-block;
  text-align: left;
  -webkit-transform: translateX(-50%) translateY(-100%);
  -ms-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  padding: 8px 30px 8px 20px;
  font-size: 14px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.wrapper.open {
  -webkit-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
}
  .error {
    background: #F34646;
    color: #fff;
  }
  .success {
    background: #00A651;
    color: #fff;
  }
  .info {
    background: #0091EA;
    color: #fff;
  }
  .warning {
    background: #FFA907;
    color: #fff;
  }
  .loading {
    padding: 5px 10px 5px 10px;
    color: #212121;
    font-size: 11px;
    border: 1px solid #DCDCDC;
  }

.body {

}
  .icon {
    display: inline-block;
    position: relative;
    top: -1px;
  }

  .content {
    display: inline-block;
  }

  .dismissButton {
    position: absolute;
    top: 50%;
    right: 10px;
    color: inherit;
    margin-top: -10px;
    font-size: 15px;
    opacity: 0.7;
  }

  .loading .dismissButton {
    display: none;
  }