.simpleModal {
  width: 600px;
  margin: 5% auto 2%;

  background: #fff;
  min-height: 50px;
  border: 1px solid #e0e6ed;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(163, 200, 214, 0.2);
  position: relative;
}

  .modalHeader {
    padding: 15px 20px;
    color: #8F8F8F;
    font-weight: 400;
  }
  .modalBody {
    padding: 20px;
    font-weight: 300;
  }
  .modalFooter {
    padding: 0 20px 15px;
    text-align: right;
  }

  .closeBtn {
    border-width: 0;
    background-color: transparent;
    text-decoration: none;
    font-size: 24px;
    padding: 0;
    line-height: 1;
    opacity: .5;
    font-weight: 500;
    color: #434343;
    float: right;
  }
  .closeBtn:after {
    clear: both;
  }
