.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 42, 49, 0.85);
  padding: 100px 10px 10px 10px;
  opacity: 0;
  z-index: 1100;
  overflow-y: auto;
  display: none;
}
  .modalOverlay.opened {
    display: block;
    padding-top: 10px;
    -webkit-animation: ani-fadein 0.4s ease-in-out both;
    animation: ani-fadein 0.4s ease-in-out both;
  }

  .modalOverlay.closed {
    display: block;
    padding-top: 10px;
    -webkit-animation: ani-fadeout 0.4s ease-in-out both;
    animation: ani-fadeout 0.4s ease-in-out both;
  }

.modalOverlayTransparent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes ani-moveup {
  0%, 20%  { top: 100px }
  100% { top: 0 }
}

@keyframes ani-moveup {
  0%, 20%  { top: 100px }
  100% { top: 0 }
}

@-webkit-keyframes ani-fadein {
  0%, 20%  { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes ani-fadein {
  0%, 20%  { opacity: 0 }
  100% { opacity: 1 }
}

@-webkit-keyframes ani-fadeout {
  0%, 20%  {  opacity: 1  }
  90% {  opacity: 0;  width: 100%; height: 100%; left:0; }
  100% {  height: 0; width: 0; left:50%; }
}

@keyframes ani-fadeout {
  0%, 20%  { opacity: 1 }
  90% {  opacity: 0;  width: 100%; height: 100%; left:0;}
  100% {  height: 0; width: 0; left:50%; }
}