/* TabMenu.css */
/*
 * Table of Content :
 *  @TabMenu
 *  @TabBody
 * -------------------
 */

.tabMenuWrapper:after {
  content: "";
  display: table;
  clear: both;
}


.close {
  border-width: 0;
  background-color: transparent;
  text-decoration: none;
  font-size: 24px;
  padding: 0;
  line-height: 1;
  opacity: .5;
  font-weight: 500;
  color: #434343;
  margin-right: 10px;
}

/*
 * @TabMenu
 * ---------------
 */
.tabMenu {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e0e6ed;
  list-style: none;
}

.sideLeft .tabMenu {
  width: 10%;
  float: left;
  margin-right: -1px;
  padding-right: 2px;
  background: #fff;
  z-index: 1;
  position: relative;
}

.tabMenu li {
  position: relative;
  display: table-cell;
  width: 1%;
}
.sideLeft .tabMenu li {
  width: 100%;
  display: block;
  border: 1px solid #e0e6ed;
  border-bottom: 0;
}

.tabMenu li a {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px;
  text-decoration: none;
  font-size: 14px;
  color: #b4b4b4;
  text-align: center;
  position: relative;
}

.tabMenu li a .close {
  font-size: 1.3em;
  position: absolute;
  right: 0;
}


.tabMenuActive {
  position: relative;
  display: inline-block;
}
.tabMenuActive:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  border-bottom: 3px solid #1ba0e2;
}
.tabMenu .tabMenuActive a {
  color: #434343;
}
.tabMenuActive:first-child:after {
  left: 20px;
  right: 0;
}
.tabMenuActive:last-child:after {
  left: 0;
  right: 20px;
}
.sideLeft .tabMenuActive:first-child:after,
.sideLeft .tabMenuActive:last-child:after{
  left:0;
  right:0;
}
.sideLeft .tabMenu .tabMenuActive {
  border-right: 0;
}
.sideLeft .tabMenuActive:after {
  border-bottom: none;
}
/*
 * @TabBody
 * ---------------
 */
.panelBody {
  font-weight: 300;
}
.sideLeft .panelBody {
  padding: 0 15px;
  width: 90%;
  float: left;
  border: 1px solid #e0e6ed;
}

.menuBody {
  display: none;
}

.menuBodyActive {
  display: block;
}