/* SearchTablePagination.css */
.pagination {

}
.pagination.right {
  margin-right: 10px !important;
  max-width: none !important;
}
.pagination.top {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.pagination.bottom {
  margin-bottom: 10px !important;
}