.fieldName, .before, .after {
  text-align: center;
  padding: 0px 5px;
  width: 300px;
  font-size: 0.8rem;
}
.fieldName {
  text-align: left;
  padding-left: 0px;
  font-weight: bold;
}
.before {
}
.after {

}
.table {
  border-collapse: collapse;
}
.table > tbody > tr:hover {
  background-color: #DCE1E8;
}
.table > tbody > tr:nth-of-type(odd) {
}
.subtr {
}