/* NavMenu.css */
.sideNav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  background: #2F323D;
  z-index: 1040;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}
.sideNavIcon {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 15px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
}
.sideNavIcon:hover,
.sideNavIcon:active,
.sideNavIcon:focus {
  background: rgba(255, 255, 255, 0.02);
}
.sideNavHeader {
  height: 49px;
  background: #3b3f4d;
}
.sideNavHeaderTitle {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left:50px;
  padding: 15px 0px;
  color: #fff;
  letter-spacing: .5px;
  text-transform: uppercase;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}
.sideNavHeader button {
  background: transparent;
  border-width: 0;
  height: 50px;
  width: 50px;
  padding: 20px 17px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.sideNavHeader button span {
  display: block;
  border-radius: 3px;
  width: 15px;
  height: 2px;
  background: #fff;
  margin-bottom: 3px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.menuGroup {
  position: relative;
}
.sideNavList {
  display: none;
  background: #2F323D;
  list-style: none;
  color: #fff;
  padding-left: 20px;
}

.listTitle {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 5px;
  white-space: nowrap;
  font-weight: 300;
  opacity: .5;
}
.listTitle:first-child {
  margin-top: 20px;
}
.sideNavList li > a,
.sideNav .menuGroup button {
  color: #fff;
  display: block;
  margin-left: -20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
  opacity: .8;
  white-space: nowrap;
}
.sideNavList li > a:hover,
.sideNav .menuGroup button:hover {
  background: rgba(255, 255, 255, 0.08);
}
.sideNav .menuGroup button {
  background: transparent;
  text-align: left;
  border: none;
  border-radius: 0;
  box-sizing: content-box;
}

/* Opened nav menu */
.sideNavList.open {
  display: block;
  position: absolute;
  top: -17px;
  left: 50px;
  padding: 0 20px 10px 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #3b3f4d;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.sideNavList.open .listTitle {
  font-weight: 400;
}
.sideNavList.open li > a {
  margin-right: -20px;
}
.sideNav.open {
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.sideNav.open .sideNavIcon {
  display: none;
}
.sideNav.open .sideNavHeaderTitle {
  opacity: 1;
}
.sideNav.open .toggleSideNav span:first-child {
  -webkit-transform: rotate(-45Deg);
  -ms-transform: rotate(-45Deg);
  transform: rotate(-45Deg);
  width: 10px;
  margin-bottom: 2px;
  margin-top: 0;
}
.sideNav.open .toggleSideNav span:nth-child(2) {
  margin-bottom: 2px;
}
.sideNav.open .toggleSideNav span:last-child {
  -webkit-transform: rotate(45Deg);
  -ms-transform: rotate(45Deg);
  transform: rotate(45Deg);
  width: 10px;
}
.sideNav.open .sideNavList {
  display: block;
}