/* Icons */
@font-face {
  font-family: 'icomoon';
  src: url("./fonts/icomoon.eot");
  src: url("./fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("./fonts/icomoon.ttf") format("truetype"), url("./fonts/icomoon.woff") format("woff"), url("./fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.main {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.open:before {
  content: "\e128";
}
.paper:before {
  content: "\e034";
}
.stack:before {
   content: "\e032";
 }

.chevronUp:before {
  content: "\f077";
}
.chevronDown:before {
  content: "\f078";
}
.chevronLeft:before {
  content: "\f053"
}
.chevronRight:before {
  content: "\f054"
}
.calendar:before {
  content: "\e900";
}
.time:before {
  content: "\e901";
}
.newspaper:before {
  content: "\e904";
}
.history:before {
  content: "\e94d";
}
.fontSize:before {
  content: "\ea61";
}
.commerceTemplate:before {
  content: "Ct";
}
.resource:before {
  content: "Res";
  margin-left: -2px;
}
.mcp:before {
  content: "Mcp";
  font-size: 14px;
  margin-left: -2px;
}
.app:before {
  content: "App";
  font-size: 14px;
  margin-left: -2px;
}

.ellipsis {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ellipsis:before {
  content: "\e129";
}
.speechBubble:before {
  content: "\e076";
}

.icon-cog:before {
  content: "\e023";
}

.icon-heart:before {
  content: "\e024";
}

.icon-layers:before {
  content: "\e031";
}



.icon-paper:before {
  content: "\e034";
}

.icon-search:before {
  content: "\e036";
}

.icon-folder:before {
  content: "\e059";
}

.icon-head:before {
  content: "\e074";
}


.icon-globe:before {
  content: "\e078";
}

.icon-tag:before {
  content: "\e085";
}

.trash:before {
  content: "\e902";
}

.info:before {
  content: "\e903";
}

.icon-archive:before {
  content: "\e121";
}

.icon-open:before {
  content: "\e128";
}
