/* Checkbox.css */
/*
 * Table of Content :
 *  @Type:Checkbox
 *  @Type:Switch
 *  @Type: SmallSwitch
 * -------------------
 */

.checkBox, .switch, .smallSwitch {
  display: block;
  position: relative;
  margin-bottom: 16px;
}

.checkBox input, .switch input, .smallSwitch input {
  position: absolute;
  opacity: 0;
  padding: 0;
  width: 100%;
  height: 24px;
  z-index: 10;
  cursor: pointer;
  box-sizing: border-box;
}

/*
 *  @Type:Checkbox
 * -------------------
 */

.checkBox input + label {
  position: relative;
  line-height: 24px;
  padding: 0 0 0 32px;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  font-size: 16px;
}

.checkBox input + label:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  background: #F6F6F6;
  border: 1px solid #DADADA;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  left: 0;
  top: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.checkBox input + label:after {
  content: "";
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 12px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  -webkit-transform: rotate(45Deg);
  -ms-transform: rotate(45Deg);
  transform: rotate(45Deg);
  left: 9px;
  top: 5px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.checkBox input:checked + label:before {
  background: #0770CD;
  border-color: #0770CD;
}
.checkBox input:checked + label:after {
  border-color: #fff;
}

/*
 *  @Type:Switch
 * -------------------
 */

.switch input + label {
  position: relative;
  line-height: 24px;
  padding: 0 0 0 48px;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  font-size: 16px;
}

.switch input + label:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  background: #F6F6F6;
  border: 1px solid #DADADA;
  width: 40px;
  height: 24px;
  border-radius: 20px;
  left: 0;
  top: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.switch input + label:after {
  content: "";
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #DADADA;
  left: 2px;
  border-radius: 50%;
  top: 2px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.switch input:checked + label:before {
  background: #0770CD;
  border-color: #0769bf;
}
.switch input:checked + label:after {
  left: 18px;
  border-color: #0769bf;
}

/**
 *  @Type: SmallSwitch
 * ----------------------
 */
.smallSwitch input + label {
  position: relative;
  line-height: 24px;
  padding: 0 0 0 30px;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
}

.smallSwitch input + label:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  background: #F6F6F6;
  border: 1px solid #DADADA;
  width: 24px;
  height: 10px;
  border-radius: 20px;
  left: 0;
  top: 7px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.smallSwitch input + label:after {
  content: "";
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #DADADA;
  left: 0;
  border-radius: 50%;
  top: 4px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.smallSwitch input:checked + label:before {
  background: #1BA0E2;
  border-color: #1694DC;
}
.smallSwitch input:checked + label:after {
  left: 9px;
  border-color: #0770CD;
  background: #0770CD;
}