// TVLK Blue
$blue-900: #0770CD;
$blue-800: #0C7CD2;
$blue-700: #1188D7;
$blue-600: #1694DC;
$blue-500: #1BA0E2;
$blue-400: #49B3E8;
$blue-300: #77C6EE;
$blue-200: #A4D9F4;
$blue-100: #D2ECFA;
$blue-50:  #F4FBFE;

// TVLK Orange
$orange-900: #F43A00;
$orange-800: #F54700;
$orange-700: #F75400;
$orange-600: #F86000;
$orange-500: #F96D01;
$orange-400: #FB8B34;
$orange-300: #FCA867;
$orange-200: #FDC59A;
$orange-100: #FEE2CD;
$orange-50:  #FFF8F3;

// TVLK Black
$black-900: #1B1B1B;
$black-800: #252525;
$black-700: #2F2F2F;
$black-600: #393939;
$black-500: #434343;
$black-400: #696969;
$black-300: #8F8F8F;
$black-200: #B4B4B4;
$black-100: #DADADA;
$black-50: #F6F6F6;

// TVLK Yellow
$yellow-900: #FF9F04;
$yellow-800: #FFA907;
$yellow-700: #FFB10B;
$yellow-600: #FFBA0E;
$yellow-500: #FFC412;
$yellow-400: #FFD042;
$yellow-300: #FFDC71;
$yellow-200: #FFE8A1;
$yellow-100: #FFF4D0;
$yellow-50:  #FFFCF3;

// TVLK Red
$red-900: #E91D1D;
$red-800: #EC2727;
$red-700: #EE3131;
$red-600: #F13B3B;
$red-500: #F34646;
$red-400: #F66B6B;
$red-300: #F89090;
$red-200: #FBB5B5;
$red-100: #FDDADA;
$red-50:  #FFF6F6;

// TVLK Green
$green-900: #007724;
$green-800: #00832F;
$green-700: #008E3A;
$green-600: #009A45;
$green-500: #00A651;
$green-400: #33B874;
$green-300: #66CA97;
$green-200: #99DCBA;
$green-100: #CCEEDD;
$green-50:  #F2FBF7;

// Primary Pallete
$tvlk-blue:       $blue-900;
$tvlk-light-blue: $blue-500;
$tvlk-orange:     $orange-500;
$tvlk-black:      $black-500;
$tvlk-grey:       $black-300;
$tvlk-white:      #FFFFFF;

// Secondary Pallete
$tvlk-yellow:     $yellow-500;
$tvlk-red:        $red-500;
$tvlk-green:      $green-500;
$tvlk-light-grey: $black-50;
