/* EditableLabel.css */
.wrapper {
  position: relative;
}
  .wrapper .label {
    display: inline-block;
    line-height: 36px;
    margin-right: 5px;
  }
  .wrapper a {
    line-height: 36px;
    font-size: 13px;
    display: inline-block;
  }
  .wrapper.editing a {
    position: absolute;
    right: 10px;
    top:0;
  }