.searchInput {
  width: calc(100% - 80px);
  height: 40px;
  padding: 0px 10px;
  border: 0px;
  border-radius: 0px;
  background-color: #ffffff;
  transition: all 500ms ease;
}
.searchBtn {
  width: 60px;
  height: 40px;
  background-color: #ffffff;
  border: 0px solid #DADADA;
  border-radius: 2px;
  margin-left: -1px;
}
.searchBtn:hover {
  background: #f9f9f9;
}
.searchBtn:active {
  background: #e9e9e9;
}
.searchInputGroup {
  display: inline-block;
  margin-bottom: 10px;
  width: 300px;
  border: 1px solid #DADADA;
  border-radius: 2px;
}
.searchInput:focus {
  outline: none !important;
  background-color: #f9f9f9;
}
.block {
  width: 100%;
}

