/* SimpleTable.css */
/* ================================================== */
/* TABLE
/* ================================================== */
.table {
  width: 100%;
  margin-bottom: 10px;
}
.table:last-child {
  margin-bottom: 0;
}
.table thead tr th {
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: left;
  font-size: 14px;
  border-top: 1px solid #dfe2e6;
  border-bottom: 1px solid #dfe2e6;
  background: #f8f8f8;
  text-transform: capitalize;
}
.table tbody tr td {
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: left;
  font-weight: 300;
  border-bottom: 1px solid #e0e6ed;
  max-width: 150px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.tableHover tr:hover td {
  background: rgba(133, 170, 188, 0.1);
}
.tableActionable tr th:last-child,
.tableActionable tr td:last-child {
  width: 1%;
  white-space: nowrap;
}
