.keyValueContainer {
  margin-bottom: 25px;
}

.keyvalue {
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 21px;
}

.keyvalue::before, .keyvalue::after {
  display: table;
  content: " ";
}

.keyvalue::after {
  clear: both;
}

.keyvalue .key {
  display: inline-block;
  font-weight: 400;
  width: 30%;
  float: left;
}

.keyvalue .value {
  display: inline-block;
  width: 70%;
  float: left;
}

.keyvalue-header {
  font-weight: 300;
  color: #8F8F8F;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.keyvalue .btn.edit-value {
  font-size: 11px;
  padding: 3px 8px;
  margin-left: 10px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 300;
  line-height: 1;
  color: #434343;
  background: #fff;
  border: 1px solid #DADADA;
  padding: 10px 20px 0 20px;
  border-radius: 3px;
  letter-spacing: .5px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.box .box-body, .box.box-body {
  padding: 16px;
}

.box .keyValueContainer {
  margin-bottom: 0;
}

.box {
  border: 1px solid #DADADA;
  border-radius: 3px;
  margin-bottom: 16px;
}

.red {
  background: #FBB5B5;
  border-color: #F89090;
  border-bottom-color: #F89090;
}

.red-dark {
  background: #F66B6B;
  border-color: #F34646;
  border-bottom-color: #F34646;
}

.red-darker {
  background: #ad3939;
  border-color: #952e2e;
  border-bottom-color: #952e2e;
  color: #fff;
}

.orange {
  background: #FDC59A;
  border-color: #FCA867;
  border-bottom-color: #FCA867;
}

.yellow {
  background: #FFE8A1;
  border-color: #FFD042;
  border-bottom-color: #FFD042;
}

.green {
  background: #99DCBA;
  border-color: #66CA97;
  border-bottom-color: #66CA97;
}

.grey {
  background: #DADADA;
  border-color: #B4B4B4;
  border-bottom-color: #B4B4B4;
}

.blue {
  background: #A4D9F4;
  border-color: #77C6EE;
  border-bottom-color: #77C6EE;
}