.circleButton {
  cursor: pointer;
  font-size: 25px;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  line-height: 1.3em;
  border-radius: 50%;
  color: #fff;
  vertical-align: middle;
  margin-left: 10px;
  font-weight: 400;
  padding: 1pxs;
}